= selected_menu(:menu_discussions)
= section_title('Centro De Debates')
#documents-container.row
  %section#content.span8
    %h1 Lee y Opina sobre los Debates
    = render partial: 'discussion', collection: @discussions

  = render 'shared/right_aside'