= selected_menu(:menu_entry)
= section_title('Centro Educacional')
#documents-container.row
  %section#content.span8
    %h1 Lee las propuestas educativas
    = render partial: 'entry', collection: @entries

  = render 'shared/right_aside'