= selected_menu(:menu_entry)
= section_title('Centro Educacional')
%section#content.span-9
  %h3
    Lee las propuestas educativas
  .blog
    = render partial: 'entry', collection: @entries
%aside#sidebar.span-3
  = render partial: 'news/right_aside'