= selected_menu(:menu_entry)
= section_title('Centro Educacional')
%section#content.span9
  %h3
    Lee las propuestas educativas
  .blog
    = render partial: 'entry', collection: @entries
%aside#sidebar.span3
  = render 'shared/right_aside'