- if @user == @current_user and @user == a.owner
	Usted a publicado la siguiente noticia:
- else
	= link_to a.owner.user_name, usuario_path(a.owner)
	a publicado la siguiente noticia
= link_to p[:title], noticia_path(p[:id])