#documents-container.row
  %section#content.span12
    %h1 Objetivos del Partido

    #timeline
      %ul#dates
        - @strategic_objectives.each do |objective|
          %li
            %a{href: '#'}= objective.date_objective
      %ul#issues
        - @strategic_objectives.each do |objective|
          %li{id: objective.date_objective}
            %h3= objective.title
            %p= objective.description
            %h3 Actualizaciones
            
      %a{href: '#', id: 'next'} +
      %a{href: '#', id: 'prev'} -
