%aside#sidebar.span3
  .widget
    %h4.widget-title Busqueda
    .widget-content
      %form.search-form{:action => "#{index_by_controller params[:controller]}", :method => "get"}
        %input{"data-prompt" => "Buscar...", :name => "query", :type => "text", :value => "Buscar ..."}
          %button{:name => "submit", :type => "submit", class: :btn} Buscar

  .widget
    %h4.widget-title Temas
    .widget-content
      %ul.list.tags
        - Topic.by_type_paper(params[:controller]).each do |topic|
          %li
            = link_to topic.name, index_by_controller(params[:controller], topic_id: topic.id), class: :label