%aside#sidebar.span3
  .widget
    %h4.widget-title Busqueda
    .widget-content
      %form.search-form{:action => "#", :method => "get"}
        %input{"data-prompt" => "Buscar...", :name => "s", :type => "text", :value => "Search ..."}
          %button{:name => "submit", :type => "submit"} Search

  .widget
    %h4.widget-title Temas
    .widget-content
      %ul.list.tags
        - Topic.all.each do |topic|
          %li
            %a{:href => "#"}= topic.name
