%aside#sidebar.span-3
  .widget
    %h4.widget-title Search
    .widget-content
      %form.search-form{:action => "#", :method => "get"}
        %input{"data-prompt" => "Search ...", :name => "s", :type => "text", :value => "Search ..."}
          %button{:name => "submit", :type => "submit"} Search

  .widget
    %h4.widget-title Archives
    .widget-content
      %ul.list
        %li
          %a{:href => "#"} March 2012
        %li
          %a{:href => "#"} February 2012
        %li
          %a{:href => "#"} January 2012
        %li
          %a{:href => "#"} December 2011
        %li
          %a{:href => "#"} November 2011

  .widget
    %h4.widget-title Categories
    .widget-content
      %ul.list.categories
        %li
          %a{:href => "#"} Web strategy
        %li
          %a{:href => "#"} Reviews
        %li
          %a{:href => "#"} Web Design
        %li
          %a{:href => "#"} Marketing
        %li
          %a{:href => "#"} Mobile
        %li
          %a{:href => "#"} Development

  .widget
    %h4.widget-title Tags
    .widget-content
      %ul.list.tags
        %li
          %a{:href => "#"} apple
        %li
          %a{:href => "#"} google
        %li
          %a{:href => "#"} web
        %li
          %a{:href => "#"} css
        %li
          %a{:href => "#"} ipad
        %li
          %a{:href => "#"} flash
        %li
          %a{:href => "#"} iphone
        %li
          %a{:href => "#"} jquery
        %li
          %a{:href => "#"} design
        %li
          %a{:href => "#"} android
        %li
          %a{:href => "#"} website
        %li
          %a{:href => "#"} photoshop
        %li
          %a{:href => "#"} ui
        %li
          %a{:href => "#"} seo
