= selected_menu(:menu_news)
= section_title('Centro De Noticias')
#documents-container.row
  %section#content.span8
    %h1 Lee las noticias sobre tu partido politico y opina sobre su actuaci&oacute;n.

    = render @news

  = render 'shared/right_aside'