= selected_menu(:menu_news)
= section_title('Centro De Noticias')
%section#content.span-9
  %h3
    Lee las noticias sobre tu partido politico y opina sobre su actuaci&oacute;n.
  .blog
    = render @news
%aside#sidebar.span-3
  = render partial: 'right_aside'