// Place all the styles related to the admin::strategic_objectives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
#objectives{
	.objective_title{
		font-size: 16pt;
    
    span.pp_objective {
      font-size: 12px;
      font-weight: normal;
    }
	}
	
	.nested_strategic_objective {
	  margin-left: 30px;
		.objective_title{
			font-size: 14pt;
		}
		.dl-horizontal dt{
			text-align: left;
			width: 200px;
		}
		.nested_strategic_objective{
			.objective_title{
				font-size: 12pt;
			}	
		}
	}
	
	
} // end Objectives
 
.hide{
	display:none;
}
.right{
	float: right;
}


.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}


#comments {
  ol {
    margin: 0;
    list-style: none;
    
    li {
      margin: 20px 0;
      background-color: #fff;
      padding: 0;
    }
  }
  
  .comment-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .comment-author {
    background: url('/assets/comment-background.png') no-repeat right center #ececec;
    height: 100%;
    padding: 10px;
    background-color: #ececec;
    position: absolute;
    left: 0;
    
    img.avatar {
      float: left;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      margin: 0 10px 0 0;
    }
    
    .comment-meta {
      float: left;
      
      span.author-name {
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
      }
    }
  }
  
  .comment_content {
    float: right;
    padding: 10px 0;
    min-height: 55px;
    
    .form-input { 
      border-top: 1px solid #ececec; 
      padding-top: 15px;
      margin-top: 10px;
    }
    
    ul.comment-actions {
      border-top: 1px solid #ececec;
      display: inline-block;
      list-style: none;
      margin: 10px 0 0 0;
      padding: 10px 0 0 0;
      width: 100%;

      li {
        float: right;
        margin: 0 10px 0 0;
        
        &:last { margin: 0;}
        
        &.report { 
          a { 
            background: url('/assets/warning.png') 0px 2px no-repeat transparent;
            color: #f26d7d;
            padding-left: 20px;
          }
        }
        &.recomment { 
          a { 
            background: url('/assets/comment.png') 0px 2px no-repeat transparent;
            color: #252525;
            padding-left: 20px;
          }
        }
      }
    }
  }
}

