.row-fluid.quick-actions
  .span2
    %a.quick-action{:href => "#"}
      %span.icon.file
      Centro de Medios
  .span2
    %a.quick-action{:href => "#"}
      %span.icon.conversation
      Centro de Debates
  .span2
    %a.quick-action{:href => "#"}
      %span.icon.book
      Centro Educacional
  .span2
    %a.quick-action{:href => "#"}
      %span.icon.compass
      Propuesta Ciudadana
  .span2
    %a.quick-action{:href => "#"}
      %span.icon.stats
      Reportes
  .span2
    %a.quick-action{:href => "#"}
      %span.icon.users
      Users
