// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry-rate {

}

.actors-title {
}

.actors-rate {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 2px;
  float: left;
  background: url(/assets/user.png) no-repeat center center #F8DE65;
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  border-radius: 99px;
}

ul.actors-rate-list {
  list-style: none;
  margin-left: 0;

  li {
    display: inline-block;
    margin-bottom: 10px;
    
    .actor-image, .actor-name { float: left;}
    
    .actor-image {
      width: 50px;
      
      img {
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
      }
    }
    
    .actor-name {
      width: 150px;
    }
  }
}

.nested_annotations {
  margin-left: 30px;
}

.nested_annotations .nested_annotations .nested_annotations .nested_annotations{
  margin-left: 0;
}

.right{
	float:right;
}

span.tags a:after{
	content: ' ,';
}

span.tags a:last-child:after{
	content: '';
}