.row-fluid
	.box
		.box-content
			.page-header
				%h1 Objetivos Estrategicos
				= link_to new_admin_strategic_objective_path, class: 'btn-add-resource btn btn-primary', remote: true, id: 'add_strategic_objectives' do
					%i.icon-white.icon-plus
					Nuevo Objetivos Generales

			#objectives
				#objectives-list
					= nested_strategic_objectives @strategic_objectives.includes({annotations: :author}, :papers).arrange(order: :created_at)
			%div.strategic_objectives



#attended-modal.modal.fade
	.modal-header
		%button{class: "close", 'data-dismiss' => "modal"} ×
		%h3 Crear Asistente
		.modal-body
			.row-fluid
				.span12
			.row-fluid
				.span8
					= render 'admin/attendees/form', {attendee: Attendee.new}