.row-fluid
	.box
		.box-content
			.page-header
				%h1 Objetivos Estrategicos
				= link_to new_admin_strategic_objective_path, class: 'btn-add-resource btn btn-primary', remote: true, id: 'add_strategic_objectives' do
					%i.icon-white.icon-plus
					Nuevo Objetivos Estrategicos

			#objectives
				#objectives-list
					= nested_strategic_objectives @strategic_objectives.arrange(order: :created_at)
			%div.strategic_objectives
				
				
				