%h2= "Bienvenido a #{@site_name}"

%p
  Se le a invitado a la Red Social para Partidos Politicos. A continuación se le proporciona la información de acceso:

%p
  %b
    Usuario:
  = @user.email

%p
  %b
    Passw0rd:
  = @password

  